
body 
{
  font-family: Arial, sans-serif; /* Change la police de caractères */
  color: #333; /* Change la couleur du texte, , #333 est le code couleur noir */
  background-color: #eee;/* Change la couleur de fond , #eee est le code couleur gris clair */
}
h2{
  font-size: 36px; /* Change la taille de la police */
  text-align: center; /* Centre le texte */
  color: #00b894; /* Change la couleur du texte */
}
form {
  max-width: 500px; /* Limite la largeur du formulaire */
  margin: 0 auto; /* Centre le formulaire sur la page */
  background-color: #fff; /* Change la couleur de fond du formulaire */
  border: 1px solid #ddd; /* Ajoute une bordure au formulaire */
  padding: 20px; /* Ajoute de l'espace autour du contenu du formulaire */
}
input, select {
  width: 100%; /* Remplit toute la largeur de la colonne */
  padding: 12px 20px; /* Ajoute de l'espace à l'intérieur de l'élément */
  margin: 8px 0; /* Ajoute de l'espace en dessous de l'élément */
  box-sizing: border-box; /* Permet de prendre en compte la bordure dans la largeur de l'élément */
}
button {
  width: 100%; /* Remplit toute la largeur de la colonne */
  background-color: #00b894; /* Change la couleur de fond du bouton */
  color: #fff; /* Change la couleur du texte du bouton */
  padding: 14px 20px; /* Ajoute de l'espace à l'intérieur du bouton */
  margin: 8px 0; /* Ajoute de l'espace en dessous du bouton */
  border: none; /* Enlève la bordure du bouton */
  cursor: pointer; /* Change le curseur lorsque la souris passe sur le bouton */
}