html {
  height: 100%;
}

body 
{
  font-family: Arial, sans-serif; /* Change la police de caractères */
  color: #333; /* Change la couleur du texte, , #333 est le code couleur noir */
  background-color: #eee;/* Change la couleur de fond , #eee est le code couleur gris clair */
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.body {
  padding: 1em;  
}

header {
  position: relative;
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header > h1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  font-size: 36px;
}
header > h1 > a {
  display: flex;
  align-items: center;
}

.header-left > img {
  height: 100%;
}

.header-right {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  z-index: 1;
}
header > .header-right > a {
  text-decoration: none;
  text-align: center;
  padding: 7px 10px;
  margin: 4px 0;
}

h2{
  font-size: 36px; /* Change la taille de la police */
  text-align: center; /* Centre le texte */
  color: #00b894; /* Change la couleur du texte */
}

.bouton-retour {
  display: block; /* Affiche le bouton sur une nouvelle ligne */
  width: 15%; /* Remplit 15% de la largeur de la colonne */
  margin: 20px; /* Ajoute de l'espace au-dessus et en-dessous du bouton */
  padding: 12px 20px;
}    

form {
  max-width: 500px; /* Limite la largeur du formulaire */
  margin: 1em auto; /* Centre le formulaire sur la page */
  background-color: #fff; /* Change la couleur de fond du formulaire */
  border: 1px solid #ddd; /* Ajoute une bordure au formulaire */
  padding: 20px; /* Ajoute de l'espace autour du contenu du formulaire */
}

input:not([type="radio"]), select {
  width: 100%; /* Remplit toute la largeur de la colonne */
  padding: 12px 20px; /* Ajoute de l'espace à l'intérieur de l'élément */
  margin: 8px 0; /* Ajoute de l'espace en dessous de l'élément */
  box-sizing: border-box; /* Permet de prendre en compte la bordure dans la largeur de l'élément */
}

button {
  width: 100%; /* Remplit toute la largeur de la colonne */
}

button, .header-right > a, .bouton, .bouton-retour {
  background-color: #00b894; /* Change la couleur de fond du bouton */
  color: #fff; /* Change la couleur du texte du bouton */
  padding: 14px 20px; /* Ajoute de l'espace à l'intérieur du bouton */
  margin: 8px 0; /* Ajoute de l'espace en dessous du bouton */
  border: none; /* Enlève la bordure du bouton */
  cursor: pointer; /* Change le curseur lorsque la souris passe sur le bouton */
  text-align: center; /* Centre le texte du bouton */
  text-decoration: none; /* Enlève la décoration du texte du bouton (souligné, etc.) */
}

table {
  margin: 20px auto auto auto;
  table-layout: auto;
  width: 98%;
  border-collapse: collapse;
  border: solid green 4px;
  text-align: center;
}

table thead *{
  font-weight: bold;
  padding: 10px;
  font-size: 18pt;
}

table tr:not(.titre):nth-child(even) {
  background: lightsteelblue;
}

table .titre {
  font-weight: bold;
  background: lightgreen;
}

table td:not(.ignore) {
  border: solid green 1px;
  padding: 5px;
}

.appart {
  border: double #3dc7ab 5px;
  margin: 7px;
  padding: 5px;
}

/* Styles pour les boutons au survol de la souris */
.bouton:hover, .header-right > a:hover, button:hover, .bouton-retour:hover {
  background-color: #3dc7ab;
  text-decoration: none;
  color: #fff;
}

footer {
  margin-top: auto;
}
footer > .footer {
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer p {
  margin: auto 0;
  padding: 0.2em;
}

.flex-together {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.doubleboutons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.doubleboutons > * {
  width: 50% !important;
}

.vantatopologymin {
  height: 77px;
  position: unset !important;
}
.vanta-canvas {
  position: unset !important;
}

img.validation {
  width: 20%;
  height: auto;
}

/* Pour width < 700px */
@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
  }
  header > h1 {
    position: unset;
  }
  .header-left {
    display: flex;
  }
  header img {
    margin: 0 auto;
  }
}